# 0. Librerias

In [1]:
!python -m pip install -q sqlalchemy psycopg2 python-dotenv

In [2]:
import pandas as pd
from sqlalchemy import create_engine
#import psycopg2
import os
#from dotenv import load_dotenv
#load_dotenv()
#DB=os.getenv("DATABASE")
path_actual = os.getcwd()
print(path_actual)

c:\Users\andre\Documents\Bootcamp

# 1. DB Connection

In [3]:
"""
ruta = r"C:\Users\andre\Downloads"
hostname= 'localhost'
database= 'actividad5'
username= 'postgres'
pwd= 'asolano2024'
port_id= '5432'
engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
engine
"""
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

load_dotenv()

hostname = os.getenv('DB_HOST')
database = os.getenv('DB_NAME')
username = os.getenv('DB_USER')
pwd = os.getenv('DB_PASSWORD')
port_id = os.getenv('DB_PORT')

engine = create_engine(f"postgresql://{username}:{pwd}@{hostname}:{port_id}/{database}")

Engine(postgresql://postgres:***@localhost:5432/actividad5)

# 2. Data Extraction and Loading

In [4]:
df = pd.read_csv(path_actual+'/Resultados_Saber_Pro.csv').to_sql('saberpro', engine, if_exists='replace', index=False)

# 3. Data Loading

In [5]:
from sqlalchemy import text
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [6]:
query="""
SELECT * FROM saberpro
"""
runQuery(query)

,PERIODO,ESTU_CONSECUTIVO,ESTU_TIPODOCUMENTO,ESTU_PAIS_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_MCPIO,ESTU_MCPIO_RESIDE,ESTU_CODDANE_COLE_TERMINO,ESTU_COD_COLE_MCPIO_TERMINO,...,FAMI_TIENEINTERNET,FAMI_EDUCACIONMADRE,INST_ORIGEN,MOD_RAZONA_CUANTITAT_PUNT,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_INGLES_DESEM,MOD_LECTURA_CRITICA_PUNT,MOD_INGLES_PUNT,MOD_COMPETEN_CIUDADA_PUNT
0,20183,EK201830011083,CC,COLOMBIA,11.0,BOGOTÁ,11001.0,BOGOTÁ D.C.,NaN,NaN,...,Si,Secundaria (Bachillerato) incompleta,NO OFICIAL - CORPORACIÓN,161,174.0,3.0,A2,139,161.0,128
1,20183,EK201830053875,CC,COLOMBIA,76.0,VALLE,76736.0,SEVILLA,NaN,NaN,...,Si,Secundaria (Bachillerato) incompleta,OFICIAL DEPARTAMENTAL,147,170.0,3.0,B1,171,188.0,182
2,20183,EK201830167993,CC,COLOMBIA,73.0,TOLIMA,73001.0,IBAGUÉ,1.730010e+11,73001.0,...,Si,No sabe,NO OFICIAL - CORPORACIÓN,142,77.0,1.0,A1,124,130.0,153
3,20183,EK201830168158,CC,COLOMBIA,68.0,SANTANDER,68081.0,BARRANCABERMEJA,1.680810e+11,68081.0,...,Si,Técnica o tecnológica completa,OFICIAL DEPARTAMENTAL,185,157.0,3.0,-A1,178,106.0,169
4,20183,EK201830164354,CC,COLOMBIA,11.0,BOGOTÁ,11001.0,BOGOTÁ D.C.,1.110010e+11,11001.0,...,Si,Educación profesional completa,OFICIAL DEPARTAMENTAL,114,132.0,2.0,A1,139,135.0,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217477,20222,EK202220148630,CC,COLOMBIA,41.0,HUILA,41396.0,LA PLATA,2.413960e+11,41396.0,...,Si,Primaria incompleta,OFICIAL NACIONAL,101,149.0,2.0,A2,153,134.0,140
1217478,20222,EK202220164335,CC,COLOMBIA,54.0,NORTE SANTANDER,54810.0,TIBÚ,1.548100e+11,54810.0,...,No,Primaria completa,NO OFICIAL - FUNDACIÓN,91,135.0,2.0,A2,100,132.0,93
1217479,20222,EK202220142587,CC,COLOMBIA,11.0,BOGOTÁ,11001.0,BOGOTÁ D.C.,3.230010e+11,23001.0,...,Si,Secundaria (Bachillerato) completa,NO OFICIAL - FUNDACIÓN,159,162.0,3.0,B1,190,178.0,163
1217480,20222,EK202220116355,CC,COLOMBIA,5.0,ANTIOQUIA,5001.0,MEDELLÍN,1.050010e+11,5001.0,...,Si,Secundaria (Bachillerato) incompleta,OFICIAL NACIONAL,179,156.0,3.0,A2,137,134.0,154
1217481,20222,EK202220153024,CC,COLOMBIA,76.0,VALLE,76001.0,CALI,NaN,NaN,...,None,None,NO OFICIAL - CORPORACIÓN,142,129.0,2.0,A1,155,120.0,114

In [7]:
query2 = """
SELECT COUNT(*) AS total_registros FROM saberpro
"""
runQuery(query2)

   total_registros
0          1217482

In [8]:
query3 = """
SELECT "ESTU_NIVEL_PRGM_ACADEMICO",
       AVG("MOD_RAZONA_CUANTITAT_PUNT") AS promedio_razonamiento
FROM "saberpro"
GROUP BY "ESTU_NIVEL_PRGM_ACADEMICO"
HAVING AVG("MOD_RAZONA_CUANTITAT_PUNT") > 50
"""

result_aggregation = runQuery(query3)
print(result_aggregation)

  ESTU_NIVEL_PRGM_ACADEMICO promedio_razonamiento
0             UNIVERSITARIO  146.7735375143123266

In [11]:
query4 = """
SELECT "ESTU_NIVEL_PRGM_ACADEMICO",
       AVG("MOD_RAZONA_CUANTITAT_PUNT") AS promedio_razonamiento
FROM "saberpro"
GROUP BY "ESTU_NIVEL_PRGM_ACADEMICO"
HAVING AVG("MOD_RAZONA_CUANTITAT_PUNT") > 50
"""

# Ejecuta la consulta
result_aggregation = runQuery(query4)
print(result_aggregation)

  ESTU_NIVEL_PRGM_ACADEMICO promedio_razonamiento
0             UNIVERSITARIO  146.7735375143123266

In [12]:
query5 = """
SELECT "ESTU_GENERO",
       "ESTU_NIVEL_PRGM_ACADEMICO",
       "MOD_LECTURA_CRITICA_PUNT",
       RANK() OVER (PARTITION BY "ESTU_NIVEL_PRGM_ACADEMICO" ORDER BY "MOD_LECTURA_CRITICA_PUNT" DESC) AS rank
FROM "saberpro"
"""

# Ejecuta la consulta
result_window_function = runQuery(query5)
print(result_window_function)

        ESTU_GENERO ESTU_NIVEL_PRGM_ACADEMICO  MOD_LECTURA_CRITICA_PUNT  \
0                 M             UNIVERSITARIO                       300
1                 M             UNIVERSITARIO                       300
2                 F             UNIVERSITARIO                       300
3                 M             UNIVERSITARIO                       300
4                 F             UNIVERSITARIO                       300
...             ...                       ...                       ...
1217477           F             UNIVERSITARIO                         0
1217478           F             UNIVERSITARIO                         0
1217479           M             UNIVERSITARIO                         0
1217480           M             UNIVERSITARIO                         0
1217481           F             UNIVERSITARIO                         0

            rank
0              1
1              1
2              1
3              1
4              1
...          ...
1217477  1216028
1217478  1216028
1217479  1216028
1217480  1216028
1217481  1216028

[1217482 rows x 4 columns]

In [14]:
query6 = """
SELECT "ESTU_GENERO",
       "ESTU_NIVEL_PRGM_ACADEMICO",
       "MOD_RAZONA_CUANTITAT_PUNT"
FROM "saberpro"
WHERE "ESTU_GENERO" = 'F'
ORDER BY "MOD_RAZONA_CUANTITAT_PUNT" DESC
LIMIT 10
"""

# Ejecuta la consulta
result_order_limit = runQuery(query6)
print(result_order_limit)

  ESTU_GENERO ESTU_NIVEL_PRGM_ACADEMICO  MOD_RAZONA_CUANTITAT_PUNT
0           F             UNIVERSITARIO                        300
1           F             UNIVERSITARIO                        300
2           F             UNIVERSITARIO                        300
3           F             UNIVERSITARIO                        300
4           F             UNIVERSITARIO                        300
5           F             UNIVERSITARIO                        300
6           F             UNIVERSITARIO                        300
7           F             UNIVERSITARIO                        300
8           F             UNIVERSITARIO                        300
9           F             UNIVERSITARIO                        300

In [16]:
#Consulta para encontrar el valor máximo de matrícula por departamento
query7 = """
SELECT "ESTU_DEPTO_RESIDE",
       MAX("ESTU_VALORMATRICULAUNIVERSIDAD") AS max_valor_matricula
FROM "saberpro"
GROUP BY "ESTU_DEPTO_RESIDE"
"""

# Ejecuta la consulta
result_max_tuition_by_department = runQuery(query7)
print(result_max_tuition_by_department)

    ESTU_DEPTO_RESIDE max_valor_matricula
0            AMAZONAS   No pagó matrícula
1           ANTIOQUIA   No pagó matrícula
2              ARAUCA   No pagó matrícula
3             ATLANTA                None
4           ATLANTICO   No pagó matrícula
5           BARCELONA                None
6              BOGOTÁ   No pagó matrícula
7             BOLIVAR   No pagó matrícula
8              BOYACA   No pagó matrícula
9        BUENOS AIRES                None
10             CALDAS   No pagó matrícula
11            CAQUETA   No pagó matrícula
12           CASANARE   No pagó matrícula
13              CAUCA   No pagó matrícula
14              CESAR   No pagó matrícula
15              CHOCO   No pagó matrícula
16            CORDOBA   No pagó matrícula
17       CUNDINAMARCA   No pagó matrícula
18         EXTRANJERO   No pagó matrícula
19          FRANKFURT                None
20            GUAINIA   No pagó matrícula
21           GUAVIARE   No pagó matrícula
22            HOUSTON                None
23              HUILA   No pagó matrícula
24         LA GUAJIRA   No pagó matrícula
25               LIMA                None
26             MADRID                None
27          MAGDALENA   No pagó matrícula
28               META   No pagó matrícula
29              MIAMI                None
30             NARIÑO   No pagó matrícula
31    NORTE SANTANDER   No pagó matrícula
32         NUEVA YORK                None
33              PARIS                None
34           PUTUMAYO   No pagó matrícula
35             QUEBEC                None
36            QUINDIO   No pagó matrícula
37          RISARALDA   No pagó matrícula
38               ROMA                None
39         SACRAMENTO                None
40         SAN ANDRES   No pagó matrícula
41          SANTANDER   No pagó matrícula
42  SANTIAGO DE CHILE                None
43          SAO PAULO                None
44               SEUL                None
45              SUCRE   No pagó matrícula
46             TOLIMA   No pagó matrícula
47            TRENTON                None
48              VALLE   No pagó matrícula
49             VAUPES   No pagó matrícula
50            VICHADA   No pagó matrícula
51               None                None

In [17]:
# Consulta para obtener la cantidad de estudiantes por cada municipio
query7 = """
SELECT "ESTU_MCPIO_RESIDE",
       COUNT(*) AS total_estudiantes
FROM "saberpro"
GROUP BY "ESTU_MCPIO_RESIDE"
ORDER BY total_estudiantes DESC
"""

# Ejecuta la consulta
result_count_by_municipality = runQuery(query7)
print(result_count_by_municipality)

        ESTU_MCPIO_RESIDE  total_estudiantes
0             BOGOTÁ D.C.             326784
1                MEDELLÍN              76695
2                    CALI              58192
3            BARRANQUILLA              46302
4     CARTAGENA DE INDIAS              30410
...                   ...                ...
1040                 SEUL                  1
1041             TARAPACÁ                  1
1042            SAO PAULO                  1
1043                PARIS                  1
1044             YAVARATÉ                  1

[1045 rows x 2 columns]